* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.timeline-section {
  height: 100%;
  text-align: center;
  background-color: cornflowerblue;
  background-image: url("./timeline-imgs/line.png");
  background-repeat: repeat-y;
  background-position: center;
}

#header {
  margin-bottom: 0px;
  padding-bottom: 15px;
  font-family: "Dancing Script", sans-serif;
  color: white;
  font-size: 5rem;
}

#text-style {
  color: #fff;
  font-family: "Dancing Script", sans-serif;
  font-size: 1.85rem;
}

/* Container Properties */

#first-container {
  padding-top: 50px;
}

.non-first-container {
  margin-top: 25px;
}

.col {
  height: 20vh;
}

.left-img {
  display: flex;
}

.right-img {
  display: flex;
}

.holder {
  height: 20vh;
}

/* Sphere Properties */

.sphere {
  margin-top: 40px;
}

.rotate-sphere {
  transform: rotate(180deg);
  transition: 1s;
}

.unrotate-sphere {
  transform: rotate(0deg);
  transition: 1s;
}

/* Image Properties */

.couple-img-left {
  height: 100%;
  margin-left: auto;
  transform: scale(1.6);
}

.couple-img-right {
  height: 100%;
  margin-right: auto;
  transform: scale(1.6);
}

/* Other Timelines */

.not-first-tl {
  margin-top: -75px;
}

#last-img {
  margin-top: -55px;
}

#last {
  background-color: cornflowerblue;
}

#arrow {
  margin-left: -3px;
  margin-top: -5px;
  padding-bottom: 15px;
}
